# Database Configuration
DATABASE_URL=postgresql://user:password@host:5432/database_name

# JWT Configuration
JWT_SECRET_KEY=your-production-secret-key

# AWS Configuration for S3
S3_ENDPOINT_URL=<railway bucket endpoint url>
AWS_REGION=<railway bucket region>
S3_BUCKET=<railway bucket name>
AWS_ACCESS_KEY_ID=<railway bucket access key id>
AWS_SECRET_ACCESS_KEY=<railway bucket secret access key>